Task6_XMLparser/src/com/radomyr/orangery.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="flowers" type="flowersType"/>
  <xs:complexType name="visual_parametersType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="stem_color" use="optional"/>
        <xs:attribute type="xs:string" name="leaves_color" use="optional"/>
        <xs:attribute type="xs:integer" name="average_height" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="growing_tipsType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:integer" name="temperature" use="optional"/>
        <xs:attribute type="xs:boolean" name="lightening" use="optional"/>
        <xs:attribute type="xs:int" name="watering" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="flowerType">
    <xs:sequence>
      <xs:element name="name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="tulip"/>
            <xs:enumeration value="sunflower"/>
            <xs:enumeration value="rose"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="soil">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="podzolistaya"/>
            <xs:enumeration value="gruntovaya"/>
            <xs:enumeration value="dernovo-podzolistaya"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="origin">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Holland"/>
            <xs:enumeration value="Ukraine"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="visual_parametersType" name="visual_parameters"/>
      <xs:element type="growing_tipsType" name="growing_tips"/>
      <xs:element name="multiplying">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="by leaves"/>
            <xs:enumeration value="by cherenki"/>
            <xs:enumeration value="by seeds"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="flowersType">
    <xs:sequence>
      <xs:element type="flowerType" name="flower" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>